<!DOCTYPE html>
<html ng-app="buscarEndereco">
<head>
	<title>Buscar Endereço - Gabriel Rebouças</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
		.navbar-default {
			background-color: dodgerBlue;
		}


	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.8.7/mask.min.js"></script>
	<script>
		angular.module ("buscarEndereco", ['ui.mask']);
		angular.module("buscarEndereco").controller("buscarEnderecoCtrl", function($scope, $http) {
			$scope.app = "Buscar Endereço";

			$scope.searchAdress = function(pesquisa){
				$http
				.get("https://viacep.com.br/ws/" + pesquisa + "/json/")
				.success(function(data) {
					console.log(data);
					$scope.cep = data;
					//(datSa.erro === true) ? alert("Esse Cep não existe");
					
					if (data.erro) {
						alert("Esse CEP não existe");
					}
					
				})
				.error(function(error){
					var erro = "Não foi possivel buscar esse CEP";
					console.error(erro);
					alert(erro);
				});

			}; 
		});
	</script>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<p class="navbar-text" style="color-text: black;">Buscar Endereços - Gabriel Rebouças</p>
			</div>
		</div>
	</nav>

	<div class="container">
		<div ng-controller="buscarEnderecoCtrl">

			<form ng-submit="searchAdress(pesquisa);">
				<div class="form-group">
					<label for="cep">Cep:</label>
					<input type="text" ng-model="pesquisa" class="form-control" ui-mask="99.999-999" id="cep" autofocus ng-required="true">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Procurar Endereço</button>
				</div>
				<div class="form-group">
					<label for="logradouro">Logradouro:</label>
					<input type="text" ng-model="cep.logradouro" class="form-control" id="logradouro" placeholder="Logradouro" disabled>
				</div>
				<div class="form-group">
					<label for="complemento">Complemento:</label>
					<input type="text" ng-model="cep.complemento" class="form-control" id="complemento" placeholder="Complemento" disabled>
				</div>
				<div class="form-group">
					<label for="bairro">Bairro:</label>
					<input type="text" ng-model="cep.bairro" class="form-control" id="bairro" placeholder="Bairro" disabled>
				</div>
				<div class="form-group">
					<label for="localidade">Localidade:</label>
					<input type="text" class="form-control" ng-model="cep.localidade" id="localidade" placeholder="Localidade" disabled>
				</div>

				<div class="form-group">
					<label for="estado">Estado:</label>
					<input type="text" class="form-control" ng-model="cep.uf" id="estado" placeholder="Estado" disabled>
				</div>

				<div class="form-group">
					<label for="ibge">IBGE:</label>
					<input type="text" class="form-control" ng-model="cep.ibge" id="ibge" placeholder="IBGE" disabled>
				</div>

			</form>
		</div>
	</div>
</body>
</html>